doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ../includes/header.pug
    block main
    footer
      block footer
        p Footer por defecto